from flask import Flask

def get_devices():
    return {"devices": ["device1", "device2"]}

def create_app(standalone=False):
    app = Flask(__name__)

    if standalone:
        app.add_url_rule('/devices', 'get_devices', get_devices)
    else:
        app.add_url_rule('/module1/devices', 'get_devices', get_devices)
    
    return app

def register(app):
    app.add_url_rule('/module1/devices', 'get_devices', get_devices)

if __name__ == '__main__':
    app = create_app(standalone=True)
    app.run(host='0.0.0.0', port=5001)
